@{
    ViewBag.Title = "AddNewBOOK";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>sold goods</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link href="~/CSS/AddNewBook/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/AddNewBook/slider.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/AddNewBook/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/AddNewBook/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/AddNewBook/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/AddNewBook/style.css" rel="stylesheet" type="text/css" />
    <!-- JavaScript -->
    <script type="text/javascript" src="~/js/AddNewBook/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/AddNewBook/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/AddNewBook/common.js"></script>
    <script type="text/javascript" src="~/js/AddNewBook/slider.js"></script>
    <script type="text/javascript" src="~/js/AddNewBook/owl.carousel.min.js"></script>
    <script type="text/javascript">
    </script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- main-container -->
    <div class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 wow">
                    <div class="static-contain">
                        <div class="page-title new_page_title">
                            <h2>发布商品</h2>
                        </div>
                        <form action="/Product/AddNewBook" method="post" enctype="multipart/form-data">
                            <ul class="group-select">
                                <li id="billing-new-address-form">
                                    <fieldset>
                                        <legend>New Book</legend>
                                        <input type="hidden" name="billing[address_id]" value="" id="billing:address_id">
                                        <ul>
                                            <li>
                                                <div class="product-name">
                                                    <div class="input-box name-productname">
                                                        <label for="billing:productname"> 书籍名称<span class="required">*</span></label>
                                                        <br>
                                                        <input type="text" id="billing:productname" name="billing[productname]" value="" title="Product Name" class="input-text ">
                                                    </div>
                                                    <div class="input-box name-authorname">
                                                        <label for="billing:authorname"> 书籍作者 <span class="required">*</span> </label>
                                                        <br>
                                                        <input type="text" id="billing:authorname" name="billing[authornamename]" value="" title="Author Name" class="input-text">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-box">
                                                    <label for="billing:publishinghouse">出版版次<span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" id="billing:publishinghouse" name="billing[publishinghouse]" value="" title="Publishing House" class="input-text">
                                                </div>
                                                <div class="input-box">
                                                    <label for="billing:newprice">售价 <span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" name="billing[newprice]" id="billing:price" value="" title="Price" class="input-text">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-box">
                                                    <label for="billing:publisher">出版社</label>
                                                        <br>
                                                    <input type="text" id="billing:publisher" name="billing[publisher]" value="" title=" publisher" class="input-text">
                                                </div>
                                                <div class="input-box">
                                                    <label for="billing:oldprice">原价 <span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" name="billing[oldprice]" id="billing:price" value="" title="Price" class="input-text">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-box">
                                                    <label for="billing:count">数量<span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" id="billing:count" name="billing[count]" value="" title="count" class="input-text">
                                                </div>
                                                <div class="input-box">
                                                    <label for="billing:province">省份<span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" id="billing:province" name="billing[province]" value="" title="province" class="input-text">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-box">
                                                    <label for="billing:type">类型<span class="required">*</span></label>
                                                    <br>
                                                    <select class="input-box" name="billing[type]">
                                                        <option>经典著作</option>
                                                        <option>文学</option>
                                                        <option>历史学</option>
                                                        <option>哲学</option>
                                                        <option>社会科学</option>
                                                        <option>教育学</option>
                                                        <option>军事学</option>
                                                        <option>法学</option>
                                                        <option>财经管理</option>
                                                        <option>经济学</option>
                                                        <option>管理学</option>
                                                        <option>专业科学</option>
                                                        <option>理学</option>
                                                        <option>工学</option>
                                                        <option>医学</option>
                                                        <option>农学</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="">
                                                <label>内容介绍<em class="required">*</em></label>
                                                <br>
                                                <div style="float:none" class="">
                                                    <textarea maxlength="200" name="detailed introduction" title="detailed introduction" class="required-entry input-text" cols="5" rows="3"></textarea>
                                                </div>
                                            </li>
                                            <li class="">
                                                <label>上传图片<em class="required">*</em></label><input id="File1" name="picture" type="file" /> <!--<input type="submit" name="Button1" value="上传" id="Button1" />-->


                                            </li>
                                        </ul>
                                    </fieldset>
                                </li>
                                <li>
                                    <p class="require"><em class="required">* </em>必须填写内容</p>
                                    <input type="text" name="hideit" value="" style="display:none !important;">
                                    <div class="buttons-set">
                                        <button type="submit" title="Submit" class="button submit" id="addBookInfo"> <span id="addBookInfo" onclick="var xml = new ActiveXObject('MSGBUS.GETMSG');toastr.success(xml.getMsg(00001));"> 提交 </span> </button>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </section>
                <aside class="col-right sidebar col-sm-3 wow">
                    <div class="block block-company">
                        <div class="block-title">我的帐户 </div>
                        <div class="block-content">
                            <ol id="recently-viewed-items">
                                <li><a href="~/User/dashboard">我的信息</a></li>
                                <li><a href="/order/myorder">我的订单</a></li>
                                <li><a href="/order/sold_goods">已发布的商品</a></li>
                                <li><a href="/Product/AddNewBook">发布商品</a></li>
                                <li><a href="~/User/aboutUs">关于我们</a></li>
                            </ol>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--End main-container -->
</body>
</html>
